html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
}

.page {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.first-container {
    flex: 0 1 auto;
}

.first-container p {
    color: red;
    font-size: 80px;
    text-align: center;
    font-weight: bold;

    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 0px 1px 0px rgb(224, 0, 0),
                 0px 2px 0px rgb(209, 0, 0),
                 0px 3px 0px rgb(184, 0, 0),
                 0px 4px 0px rgb(165, 0, 0),
                 0px 5px 0px rgb(145, 0, 0),
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);

    letter-spacing: 3px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.second-container {
    flex: 1 1 auto;
}

.etch-container {
    width: 700px;
    height: 500px;
    margin: 0 auto;
    background-color: rgb(255, 0, 0);
    border: 5px solid rgb(180, 0, 0);
    border-radius: 60px;
    box-shadow: 1px 1px 0px rgb(180, 0, 0),
                2px 2px 0px rgb(160, 0, 0),
                3px 3px 0px rgb(140, 0, 0),
                4px 4px 0px rgb(120, 0, 0),
                5px 5px 0px rgb(100, 0, 0),
                6px 6px 0px rgb(90, 0, 0),
                7px 7px 0px rgb(75, 0, 0),
                8px 8px 0px rgb(60, 0, 0),
                10px 10px 3px rgba(0,0,0,.1),
                0 0 7px rgba(0,0,0,.1),
                3px 3px 5px rgba(0,0,0,.3),
                7px 7px 7px rgba(0,0,0,.2),
                7px 9px 10px rgba(0,0,0,.25),
                13px 13px 10px rgba(0,0,0,.2),
                20px 20px 20px rgba(0,0,0,.15);

}

.etch-screen-container {
    width: 550px;
    height: 350px;
    background-color: transparent;
    margin: 75px auto 0 auto;
    border-radius: 10px;
    border: 5px inset rgb(218, 0, 0);
}

.knobs {
    width: 700px;
    height: 75px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.knob {
    width: 75px;
    height: 75px;
    background-color: white;
    border-radius: 50%;
    border: 5px outset rgb(226, 226, 226);
}

.actual-screen {
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.square, .square-colored {
    height: 10px;
    width: 10px;
}

.square {
    background-color: lightgrey;
}

.square-colored {
    background-color: black;
}

.reset-button {
    height: inherit;
    width: inherit;
    background-color: white;
    border: 3px solid rgb(231, 231, 231);
    border-radius: 60px;
    font-weight: bold;
    color: rgb(251, 112, 112);
    font-size: 24px;
}

.button-container {
    height: 50px;
    width: 115px;
    /* t r b l */
    margin: 50px auto 0 auto;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex: 0 1 40px;
    border-top: 3px solid rgb(251, 112, 112);
    background-color: red;
    align-items: center;
}

.footer-left p, .footer-right a, .footer-left p a {
    margin: 0;
    color: beige;
    font-weight: 700;
    word-spacing: normal;
    text-decoration: none;
}

.footer-left {
    margin-left: 10px;
}

.footer-right {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-top: 5px;
}

.footer-right a.words {
    margin-right: 5px;
}

.footer-right a.words, .footer-left p a {
    text-decoration: underline;
}

.footer-right a:hover, .footer-left p a:hover {
    color: black;
    text-decoration: underline;
}
